---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: credentials-copy
  namespace: ${SERVICE_NAME}-istio-svc
spec:
  interval: 1m0s
  ref:
    branch: main
  url: https://github.com/runyontr/credentials-copy
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: credentials
  namespace: ${SERVICE_NAME}-istio-svc
spec:
  chart:
    spec:
      chart: chart
      sourceRef:
        kind: GitRepository
        name: credentials-copy
  interval: 1m0s