apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: GitRepository
metadata:
  name: ${SERVICE_NAME}-istio-svc
  namespace: bigbang
  labels:
    app.kubernetes.io/name: ${SERVICE_NAME}-istio-svc
    app.kubernetes.io/component: "service"
spec:
  interval: 1m
  url: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/podinfo.git
  ref:
    branch: main