nameOverride: ${SERVICE_NAME}-istio-svc
fullnameOverride: ${SERVICE_NAME}-istio-svc
replicas: 1

istio:
  gateways:
  - 'istio-system/public'
  hosts:
  - '${SERVICE_NAME}-istio-svc.bigbang.dev'

image:
  repository: ${SERVICE_API_IMAGE_NAME}
  pullSecret: private-registry

service:
  port: 5000